{% extends "layout/main.html" %}
{% block content %}
`<div class="container" >
    <section id="hero-animated" class="hero-animated d-flex align-items-center">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
          <img src="static/img/hero-carousel/hero-carousel-3.svg" class="img-fluid animated">
          <h2>Welcome to <span>My Website</span></h2>
          <p>Welcome to my personal website! 
            I'm Zoaka Bata Bukar, and this is where I share my thoughts, 
            experiences, and projects. 
            On this site, you'll find information about my interests, 
            hobbies, and work. I hope you find something here that interests you. 
            Feel free to look around and get to know me a little better. 
            I'm always happy to make new connections, 
            so don't hesitate to reach out if you want to say hello</p>
          <div class="d-flex">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
      </section>
      <main id="main">

       
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
    
            <div class="section-header">
              <h2>About Us</h2>
              <p>Welcome to our About Us page! We are Bata's Group, a Tech company based in Kaduna state, 
                Nigeria. Our mission is to to create innovative, 
                user-friendly technology that empowers people to connect and communicate in new ways. 
                and we strive to achieve this by working on a high value on innovation, 
                continuously seeking out new and better ways to solve problems and meet customer needs. 
                We have been in business for about a year and have had the pleasure of serving alx along the way. 
                Thank you for taking the time to learn more about us. We invite you to explore our site and learn more about what we do. 
                Don't hesitate to reach out if you have any questions or would like to work with us</p>
            </div>
    
            <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">
    
              <div class="col-lg-5">
                <div class="about-img">
                  <img src="static/img/about.jpg" class="img-fluid" alt="">
                </div>
              </div>
    
              <div class="col-lg-7">
                <h3 class="pt-0 pt-lg-5">Some of our Value and goals includes</h3>
    
                <!-- Tabs -->
                <ul class="nav nav-pills mb-3">
                  <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Values</a></li>
                  <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Goals</a></li>
                  
                </ul><!-- End Tabs -->
    
                <!-- Tab Content -->
                <div class="tab-content">
    
                  <div class="tab-pane fade show active" id="tab1">
    
                    <p class="fst-italic"></p>
    
                    <div class="d-flex align-items-center mt-4">
                      <i class="bi bi-check2"></i>
                      <h4>Customer focus</h4>
                    </div>
                    <p>Strive to deliver the best possible products and services to meet their needs</p>
    
                    <div class="d-flex align-items-center mt-4">
                      <i class="bi bi-check2"></i>
                      <h4>Collaboration</h4>
                    </div>
                    <p>Collaboration and teamwork to achieve our goals, and also place high value on teamwork and open communication.</p>
    
                    <div class="d-flex align-items-center mt-4">
                      <i class="bi bi-check2"></i>
                      <h4>Social impact</h4>
                    </div>
                    <p>Use our technology and expertise to address social or environmental issues, 
                        and may place a high value on making a positive impact on society.</p>
    
                  </div><!-- End Tab 1 Content -->
    
                  <div class="tab-pane fade show" id="tab2">
    
                    <p class="fst-italic">Goals</p>
    
                    <div class="d-flex align-items-center mt-4">
                      <i class="bi bi-check2"></i>
                      <h4>Financial stability and growth</h4>
                    </div>
                    <p>Like any business,our company have financial goals to, 
                        such as increasing revenue, profits, and shareholder value.</p>
    
                    <div class="d-flex align-items-center mt-4">
                      <i class="bi bi-check2"></i>
                      <h4>Innovation and development</h4>
                    </div>
                    <p> We have strong focus on research and development, 
                        with the goal of creating new products, services, 
                        or technologies that solve problems or meet emerging customer needs.</p>
    
                    <div class="d-flex align-items-center mt-4">
                      <i class="bi bi-check2"></i>
                      <h4>Customer satisfaction</h4>
                    </div>
                    <p>We also prioritize customer satisfaction by 
                        developing high-quality products and services, 
                        providing excellent support and service, 
                        and building strong relationships with their customers</p>
    
                        
                    <div class="d-flex align-items-center mt-4">
                        <i class="bi bi-check2"></i>
                        <h4>Talent development</h4>
                      </div>
                      <p> Focuses on developing and retaining top talent, both to support their own growth and to foster a positive and innovative corporate culture.</p>
                        
                    </div><!-- End Tab 2 Content -->
    
                </div>
    
              </div>
    
            </div>
    
          </div>
        </section><!-- End About Section -->
    
        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients">
          <div class="container" data-aos="zoom-out">
    
            <div class="clients-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><img src="assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
              </div>
            </div>
    
          </div>
        </section><!-- End Clients Section -->
    

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
          <div class="container" data-aos="fade-up">
    
            <div class="section-header ">
              <h2>Our Services</h2>
              
            </div>
    
            <div class="row gy-5">
    
              <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                <div class="service-item">
                  <div class="img">
                    <img src="static/img/services-1.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="details position-relative">
                    <div class="icon">
                      <i class="bi bi-activity"></i>
                    </div>
                    <a href="#" class="stretched-link">
                      <h3>Web Design</h3>
                    </a>
                  </div>
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                <div class="service-item">
                  <div class="img">
                    <img src="static/img/services-2.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="details position-relative">
                    <div class="icon">
                      <i class="bi bi-broadcast"></i>
                    </div>
                    <a href="#" class="stretched-link">
                      <h3>Web Development</h3>
                    </a>
                  </div>
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                <div class="service-item">
                  <div class="img">
                    <img src="static/img/services-3.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="details position-relative">
                    <div class="icon">
                      <i class="bi bi-easel"></i>
                    </div>
                    <a href="#" class="stretched-link">
                      <h3>Artificial Intelligence</h3>
                    </a>
                  </div>
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
                <div class="service-item">
                  <div class="img">
                    <img src="static/img/services-4.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="details position-relative">
                    <div class="icon">
                      <i class="bi bi-bounding-box-circles"></i>
                    </div>
                    <a href="#" class="stretched-link">
                      <h3>Product Management</h3>
                    </a>
                   
                    <a href="#" class="stretched-link"></a>
                  </div>
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
                <div class="service-item">
                  <div class="img">
                    <img src="static/img/services-5.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="details position-relative">
                    <div class="icon">
                      <i class="bi bi-calendar4-week"></i>
                    </div>
                    <a href="#" class="stretched-link">
                      <h3>Graphic Design</h3>
                    </a>

                    <a href="#" class="stretched-link"></a>
                  </div>
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="700">
                <div class="service-item">
                  <div class="img">
                    <img src="static/img/services-6.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="details position-relative">
                    <div class="icon">
                      <i class="bi bi-chat-square-text"></i>
                    </div>
                    <a href="#" class="stretched-link">
                      <h3>Devops</h3>
                    </a>
                   
                    <a href="#" class="stretched-link"></a>
                  </div>
                </div>
              </div><!-- End Service Item -->
    
            </div>
    
          </div>
        </section><!-- End Services Section -->
    
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
          <div class="container" data-aos="fade-up">
    
            <div class="testimonials-slider swiper">
              <div class="swiper-wrapper">
    
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                    <h3>Zoaka Bata Bukar</h3>
                    <h4>Ceo &amp; Founder</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      It has been my dream to start this company, i'm so exited to render my service to humanity.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                    <h3>Jessica Harrison</h3>
                    <h4>Designer</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      "I have had the pleasure of working for this company for the past 
                      few month and I can honestly say that it is one of the 
                      best places I have ever worked. 
                      The management team is supportive and always willing to listen to new ideas, 
                      and the company culture is collaborative and innovative. 
                      I feel like my contributions are valued and I am constantly learning and 
                      growing as a result of my time with this company. 
                      I highly recommend it to anyone looking for a fulfilling and rewarding career."
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                    <h3>Abdulsamad Yusuf</h3>
                    <h4>Co founder</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      I have been working for this company for the past few month and I am consistently 
                      impressed by the level of support and opportunities for growth that are provided to
                       employees. The company culture is positive and inclusive, and I feel valued 
                       and respected as a member of the team. I am proud to work for this company 
                       and highly recommend it to anyone looking for a great place to work
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      As a member of the customer service team at this company,
                       I have always been impressed by the level of support and resources 
                       that are provided to us to ensure that we can provide the best 
                       possible service to our customers. The company values its 
                       employees and it shows in the way we are treated and the opportunities 
                       that are available to us for career development. I am proud to work for this company 
                       and highly recommend it to anyone looking for a positive and supportive work environment.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      I recently had the pleasure of working with this company
                       on a project and I was blown away by their 
                       professionalism and attention to detail. 
                       They went above and beyond to ensure that the project 
                       was completed on time and to my complete satisfaction. 
                       I would not hesitate to work with them again in the future and 
                       I highly recommend them to anyone in need of their services
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->
    
              </div>
              <div class="swiper-pagination"></div>
            </div>
    
          </div>
        </section><!-- End Testimonials Section -->
    
        
    
    
    
    
                 
    
            
    
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio" data-aos="fade-up">
    
          <div class="container">
    
            <div class="section-header">
              <h2>Portfolio</h2>
             
            </div>
    
          </div>
    
          <div class="container-fluid" data-aos="fade-up" data-aos-delay="200">
    
            <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">
    
              <ul class="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-product">Product</li>
                <li data-filter=".filter-branding">Branding</li>
                <li data-filter=".filter-books">Books</li>
              </ul><!-- End Portfolio Filters -->
    
              <div class="row g-0 portfolio-container">
    
                <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-app">
                  <img src="static/img/portfolio/app-1.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>App 1</h4>
                    <a href="static/img/portfolio/app-1.jpg" title="App 1" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div><!-- End Portfolio Item -->
    
                <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-product">
                  <img src="static/img/portfolio/product-1.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Product 1</h4>
                    <a href="static/img/portfolio/product-1.jpg" title="Product 1" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div><!-- End Portfolio Item -->
    
                <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-branding">
                  <img src="static/img/portfolio/branding-1.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Branding 1</h4>
                    <a href="static/img/portfolio/branding-1.jpg" title="Branding 1" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div><!-- End Portfolio Item -->
    
                <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-books">
                  <img src="static/img/portfolio/books-1.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Books 1</h4>
                    <a href="static/img/portfolio/books-1.jpg" title="Branding 1" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div><!-- End Portfolio Item -->
    
                <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-app">
                  <img src="static/img/portfolio/app-2.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>App 2</h4>
                    <a href="static/img/portfolio/app-2.jpg" title="App 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div><!-- End Portfolio Item -->
    
                <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-product">
                  <img src="static/img/portfolio/product-2.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Product 2</h4>
                    <a href="static/img/portfolio/product-2.jpg" title="Product 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div><!-- End Portfolio Item -->
    
                <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-branding">
                  <img src="static/img/portfolio/branding-2.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Branding 2</h4>
                    <a href="static/img/portfolio/branding-2.jpg" title="Branding 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div><!-- End Portfolio Item -->
    
                <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-books">
                  <img src="static/img/portfolio/books-2.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Books 2</h4>
                    <a href="static/img/portfolio/books-2.jpg" title="Branding 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div><!-- End Portfolio Item -->
    
                <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-app">
                  <img src="static/img/portfolio/app-3.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>App 3</h4>
                    <a href="static/img/portfolio/app-3.jpg" title="App 3" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div><!-- End Portfolio Item -->
    
                <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-product">
                  <img src="static/img/portfolio/product-3.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Product 3</h4>
                    <a href="static/img/portfolio/product-3.jpg" title="Product 3" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div><!-- End Portfolio Item -->
    
                <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-branding">
                  <img src="static/img/portfolio/branding-3.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Branding 3</h4>
                    <a href="static/img/portfolio/branding-3.jpg" title="Branding 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div><!-- End Portfolio Item -->
    
                <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-books">
                  <img src="static/img/portfolio/books-3.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Books 3</h4>
                    <a href="static/img/portfolio/books-3.jpg" title="Branding 3" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div><!-- End Portfolio Item -->
    
              </div><!-- End Portfolio Container -->
    
            </div>
    
          </div>
        </section><!-- End Portfolio Section -->
    
        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
          <div class="container" data-aos="fade-up">
    
            <div class="section-header">
              <h2>Our Team</h2>
                    </div>
    
            <div class="row gy-5">
    
              <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="200">
                <div class="team-member">
                  <div class="member-img">
                    <img src="static/img/team/ceo.jpeg" class="img-fluid" alt="">
                  </div>
                  <div class="member-info">
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                    <h4>Zoaka Bata Bukar</h4>
                    <span>Chief Executive Officer</span>
                  </div>
                </div>
              </div><!-- End Team Member -->
    
              <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
                <div class="team-member">
                  <div class="member-img">
                    <img src="static/img/team/team-2.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="member-info">
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                    <h4>Sarah Jhonson</h4>
                    <span>Product Manager</span>
                  </div>
                </div>
              </div><!-- End Team Member -->
    
              <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="600">
                <div class="team-member">
                  <div class="member-img">
                    <img src="static/img/team/team-3.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="member-info">
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                    <h4>William Anderson</h4>
                    <span>CTO</span>
                  </div>
                </div>
              </div><!-- End Team Member -->
    
            </div>
    
          </div>
        </section><!-- End Team Section -->
    
        <!-- ======= Recent Blog Posts Section ======= -->
        <section id="recent-blog-posts" class="recent-blog-posts">
    
          <div class="container" data-aos="fade-up">
    
            <div class="section-header">
              <h2>Blog</h2>
              <p>Recent posts form our Blog</p>
            </div>
    
            <div class="row">
    
              <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="post-box">
                  <div class="post-img"><img src="assets/img/blog/blog-1.jpg" class="img-fluid" alt=""></div>
                  <div class="meta">
                    <span class="post-date">Tue, December 12</span>
                    <span class="post-author"> / Julia Parker</span>
                  </div>
                  <h3 class="post-title">Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit</h3>
                  <p>Illum voluptas ab enim placeat. Adipisci enim velit nulla. Vel omnis laudantium. Asperiores eum ipsa est officiis. Modi cupiditate exercitationem qui magni est...</p>
                  <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
    
              <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
                <div class="post-box">
                  <div class="post-img"><img src="assets/img/blog/blog-2.jpg" class="img-fluid" alt=""></div>
                  <div class="meta">
                    <span class="post-date">Fri, September 05</span>
                    <span class="post-author"> / Mario Douglas</span>
                  </div>
                  <h3 class="post-title">Et repellendus molestiae qui est sed omnis voluptates magnam</h3>
                  <p>Voluptatem nesciunt omnis libero autem tempora enim ut ipsam id. Odit quia ab eum assumenda. Quisquam omnis aliquid necessitatibus tempora consectetur doloribus...</p>
                  <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
    
              <div class="col-lg-4" data-aos="fade-up" data-aos-delay="600">
                <div class="post-box">
                  <div class="post-img"><img src="assets/img/blog/blog-3.jpg" class="img-fluid" alt=""></div>
                  <div class="meta">
                    <span class="post-date">Tue, July 27</span>
                    <span class="post-author"> / Lisa Hunter</span>
                  </div>
                  <h3 class="post-title">Quia assumenda est et veritatis aut quae</h3>
                  <p>Quia nam eaque omnis explicabo similique eum quaerat similique laboriosam. Quis omnis repellat sed quae consectetur magnam veritatis dicta nihil...</p>
                  <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
    
            </div>
    
          </div>
    
        </section><!-- End Recent Blog Posts Section -->
    
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
          <div class="container">
    
            <div class="section-header">
              <h2>Contact Us</h2>
            </div>
    
          </div>
    
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
          </div><!-- End Google Maps -->
    
          <div class="container">
    
            <div class="row gy-5 gx-lg-5">
    
              <div class="col-lg-4">
    
                <div class="info">
                  <h3>Get in touch</h3>
                  <p></p>
    
                  <div class="info-item d-flex">
                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                      <h4>Location:</h4>
                      <p>No 4 Watchman Catholic street samaru zaria</p>
                    </div>
                  </div><!-- End Info Item -->
    
                  <div class="info-item d-flex">
                    <i class="bi bi-envelope flex-shrink-0"></i>
                    <div>
                      <h4>Email:</h4>
                      <p>batazoaka3@email.com</p>
                    </div>
                  </div><!-- End Info Item -->
    
                  <div class="info-item d-flex">
                    <i class="bi bi-phone flex-shrink-0"></i>
                    <div>
                      <h4>Call:</h4>
                      <p>+234 08125842247</p>
                    </div>
                  </div><!-- End Info Item -->
    
                </div>
    
              </div>
    
              <div class="col-lg-8">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                    </div>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                  </div>
                  <div class="form-group mt-3">
                    <textarea class="form-control" name="message" placeholder="Message" required></textarea>
                  </div>
                  <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>
                  <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
              </div><!-- End Contact Form -->
    
            </div>
    
          </div>
        </section><!-- End Contact Section -->
    
      </main><!-- End #main -->
    
</div>
{% endblock content %}